/* Neon Glow for Modal Background */
.neon-background {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.7), 
                0 0 20px rgba(0, 255, 255, 0.8);
    border-radius: 15px;
}

/* Neon Heading */
.neon-heading {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #00ffff;
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.7), 
                 0 0 10px rgba(0, 255, 255, 1);
    animation: neon-blink 1.5s infinite alternate;
}

/* Neon Instruction Text */
.neon-instruction {
    color: #00ffff;
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.7), 
                 0 0 10px rgba(0, 255, 255, 1);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* Add spacing between buttons */
}

/* Neon Buttons */
.neon-btn {
    border: 2px solid #00ffff;
    color: #00ffff;
    background: transparent;
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 1.25rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.5);
}

.neon-btn:hover {
    background-color: #00ffff;
    color: black;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 255, 255, 0.6);
}

/* Modal Animation */
@keyframes neon-blink {
    0% { opacity: 0.8; }
    100% { opacity: 1; }
}

h1 {
    color: #00ffff;
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.7), 
                 0 0 10px rgba(0, 255, 255, 1);
}

#healthContainer {
    border: 2px solid #00ffff;
    border-radius: 10px;
    width: 100%;  /* 100% width to match the container */
    height: 20px;
    margin: 0 auto;  /* Center the health container */
}

#healthBar {
    background-color: #0088ff;
    height: 100%;
    width: 100%;
    transition: width 0.01s ease;
}

